body {
    background-color: rgb(174, 174, 174);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    box-sizing: border-box;
    max-width: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 1em;
}

.titulo {
    text-align: center;
    color: rgb(73, 71, 158);
    font-size: 2em;
}

.conteudo {
    background-color: rgb(169, 164, 164);
    margin: 1.5em 0;
    box-shadow: 3px 3px 3px rgb(153, 154, 225, 0.3);
    text-align: center;
}

.conteudoLocalizacao {
    font-size: 1.5em;
}

.rodape {
    text-align: center;
    border-radius: 5%;
}

.cabecalhoConteudo {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
}

.botao {
    background-color: rgb(69, 71, 163, 0.3);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: scale 0.3s, box-shadow 0.3s, background-color 0.5s;
}

.botao:hover {
    scale: 1.05;
    box-shadow: 3px 3px 3px 5px rgb(73, 71, 158, 0.35);
    background-color: rgba(56, 13, 124, 0.7);
}

input {
    border-radius: 30px;
    font-family: fantasy;
    color: #0c9ce3fe;
    text-align: center;
    margin: 20px;
    height: 30px;
    border: #0c9ce3fe 2px solid;
    transition: color 0.4s, border 0.4s;
}

input:hover {
    border: #076c9efe 2px solid;
    color: #076c9efe;
}